torch==2.0.1
torchvision==0.15.2
pytorch-lightning==2.1.2
lightning==2.0.9.post0
yacs
numpy==1.24.4
tqdm
# opencv-contrib-python-headless
Pillow
matplotlib
scikit_learn
# autopep8
# einops
setproctitle
wandb
transformers
torch_geometric